@model IEnumerable<SmartRoom.Web.App_Start.Course>
@{
    ViewBag.Title = "Dashboard";
}
@section Scripts
{
    @Scripts.Render("~/Scripts/Personalized/dragDrop.js")
}

<ul id="sortable">

    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <li class="ui-state-default class-container">
                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.Title) + " - " + Html.DisplayFor(modelItem => item.Section)), "Details", "Courses", new { Area = "Classroom", id = item.Id }, null)
                <hr />
                @Html.DisplayFor(model => item.Subject) 
                @Html.DisplayFor(model => item.CourseNumber)
            </li>
        }
    }
    @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
    {
        <li class="class-container">
            @Html.ActionLink("Add Classroom", "Create", "Courses", new { Area = "Classroom", id = "create-course" }, new { })
            <hr />
            <br />
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </li>
    }
</ul>