@model SmartRoom.Database.Tables.YoutubeLiveDetail

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>YoutubeLiveDetail</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Id, "Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>

       <!-- <div class="form-group">
            @Html.LabelFor(model => model.BroadcastId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BroadcastId)
                @Html.ValidationMessageFor(model => model.BroadcastId)
            </div>
        </div> -->

        <div class="form-group">
            @Html.LabelFor(model => model.BroadcastTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BroadcastTitle)
                @Html.ValidationMessageFor(model => model.BroadcastTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BroadcastDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BroadcastDescription)
                @Html.ValidationMessageFor(model => model.BroadcastDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BroadcastScheduledStartTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BroadcastScheduledStartTime)
                @Html.ValidationMessageFor(model => model.BroadcastScheduledStartTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BroadcastScheduledEndTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BroadcastScheduledEndTime)
                @Html.ValidationMessageFor(model => model.BroadcastScheduledEndTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BroadcastStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BroadcastStatus)
                @Html.ValidationMessageFor(model => model.BroadcastStatus)
            </div>
        </div>

      <!--  <div class="form-group">
            @Html.LabelFor(model => model.StreamId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StreamId)
                @Html.ValidationMessageFor(model => model.StreamId)
            </div>
        </div> -->

        <div class="form-group">
            @Html.LabelFor(model => model.StreamTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StreamTitle)
                @Html.ValidationMessageFor(model => model.StreamTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StreamKind, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StreamKind)
                @Html.ValidationMessageFor(model => model.StreamKind)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StreamSnippetTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StreamSnippetTitle)
                @Html.ValidationMessageFor(model => model.StreamSnippetTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StreamCDNFormat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StreamCDNFormat)
                @Html.ValidationMessageFor(model => model.StreamCDNFormat)
            </div>
        </div>

  <!--      <div class="form-group">
            @Html.LabelFor(model => model.StreamCDNIngestionType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StreamCDNIngestionType)
                @Html.ValidationMessageFor(model => model.StreamCDNIngestionType)
            </div>
        </div> -->

        <div class="form-group">
            @Html.LabelFor(model => model.StreamCDNIngestionUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StreamCDNIngestionUrl)
                @Html.ValidationMessageFor(model => model.StreamCDNIngestionUrl)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
