@model SmartRoom.Database.Tables.YoutubeLiveDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>YoutubeLiveDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Courses.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courses.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BroadcastId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BroadcastId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BroadcastTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BroadcastTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BroadcastDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BroadcastDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BroadcastScheduledStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BroadcastScheduledStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BroadcastScheduledEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BroadcastScheduledEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BroadcastStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BroadcastStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreamId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreamTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreamTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreamKind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreamKind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreamSnippetTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreamSnippetTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreamCDNFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreamCDNFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreamCDNIngestionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreamCDNIngestionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreamCDNIngestionUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreamCDNIngestionUrl)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
