@model IEnumerable<SmartRoom.Database.Tables.YoutubeLiveDetail>

@{
    ViewBag.Title = "My Broadcasts";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.Subject)
        </th>
       <!-- <th>
            @Html.DisplayNameFor(model => model.BroadcastId)
        </th> -->
        <!-- <th>
            @Html.DisplayNameFor(model => model.BroadcastKind)
        </th> -->
        <th>
            @Html.DisplayNameFor(model => model.BroadcastTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BroadcastDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BroadcastScheduledStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BroadcastScheduledEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BroadcastStatus)
        </th>
       <!-- <th>
            @Html.DisplayNameFor(model => model.BroadcastchannelId)
        </th> -->
       <!-- <th>
            @Html.DisplayNameFor(model => model.BroadcastlifeCycleStatus)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.BroadcastEmbededhtml)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.StreamId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreamKind)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.StreamName)
        </th> -->
        <th>
            @Html.DisplayNameFor(model => model.StreamStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreamSnippetTitle)
        </th>
       <!-- <th>
            @Html.DisplayNameFor(model => model.StreamCDNFormat)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.StreamCDNIngestionType)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.StreamCDNIngestionUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreamcontentclosedCaptionsIngestionUrl)
        </th> -->
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
              <a href="@Url.Action("Edit", new {id = item.Id})">
                  <img src="@Url.Content(" ~/Views/Shared/mglass.png")", alt="Edit" />
                </a>  
                <a href="@Url.Action("Details", new { id = item.Id })">
                    <img src="@Url.Content(" ~/Views/Shared/mglass.png")", alt="Details" />
                </a>
                <a href="@Url.Action("Delete", new { id = item.Id })">
                    <img src="@Url.Content(" ~/Views/Shared/mglass.png")", alt="Delete" />
                </a>

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Course.Subject)
            </td>
          <!--  <td>
                @Html.DisplayFor(modelItem => item.BroadcastId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BroadcastKind)
            </td> -->
            <td>
                @Html.DisplayFor(modelItem => item.BroadcastTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BroadcastDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BroadcastScheduledStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BroadcastScheduledEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BroadcastStatus)
            </td>
      <!--      <td>
                @Html.DisplayFor(modelItem => item.BroadcastchannelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BroadcastlifeCycleStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BroadcastEmbededhtml)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreamKind)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.StreamName)
            </td> -->
            <td>
                @Html.DisplayFor(modelItem => item.StreamStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreamSnippetTitle)
            </td>
         <!--   <td>
                @Html.DisplayFor(modelItem => item.StreamCDNFormat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreamCDNIngestionType)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.StreamCDNIngestionUrl)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.StreamcontentclosedCaptionsIngestionUrl)
            </td> -->

        </tr>
    }

</table>
