@model IEnumerable<SmartRoom.Web.App_Start.UserRelationship>
@using Microsoft.AspNet.Identity

@*<p>
     @Html.ActionLink("Create New", "Create") 
</p>
<br />*@
<h3 class="text-center">Course Users</h3>
<br />
<table class="table course-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountRole)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountRole)
        </td>
        <td>
                @Html.Partial("Partial/_DeleteUserRelationship", new SmartRoom.Web.Areas.Classroom.Models.RemoveUserFromCourse() { CourseId = item.Course.Id, AccountId = item.AccountId, RequestorAccountId = HttpContext.Current.User.Identity.GetUserId() })
</td>
    </tr>
}

</table>

    