<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SmartRoom</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/Personalized/Shared/LayoutScript.js")
    @RenderSection("scripts", required: false)

</head>
<body onload="startTime()">
    <div class="background">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("SmartRoom", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="body-content">
                @RenderBody()
            </div>


            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container">
                    <div class="navbar-text navbar-right" id="clock">
                    </div>
                    <div class="navbar-text navbar-left" id="date"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
