@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.Name, "Index", new { area = "", controller = "Manage" }, htmlAttributes: new { title = "Manage" })
            </li>
            <li>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-asterisk" /></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Settings", "Index", new { area = "", controller = "Manage" }, htmlAttributes: new { title = "Manage" })</li>
                                <li><a href="javascript:void(0)" onclick="EnableSortable();" class="toggle">Enable Class Arrangement</a> </li>
                                <li><a href="javascript:void(0)" onclick="DisableSortable();" class="toggle" style="display:none;">Disable Class Arrangement</a> </li>
                                <li class="divider"></li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { @returnUrl = Url.Action(ViewContext.RouteData.Values["action"].ToString()) }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
