@model IEnumerable<SmartRoom.Web.App_Start.CoursePlaylist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.RegistrationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifedBy.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaylistId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.RegistrationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifedBy.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaylistId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CoursePlaylistId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CoursePlaylistId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CoursePlaylistId })
        </td>
    </tr>
}

</table>
