<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menuitem">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">A</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">B</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">C</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">D</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="app-name">SmartRoom</div>
            <div class="navbar-header navbar-header-right">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu" role="menuitem">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">E</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">F</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">G</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">H</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="user">User Name</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()<br />
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <span class="nav-bottom navbar-bottom-right">
                @* need to add javascript to update time, currently only shows time on load *@
                @DateTime.Now.ToShortTimeString()
            </span>
            <span class="nav-bottom navbar-bottom-left">
                @DateTime.Now.ToLongDateString()
            </span>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
